.bg-light {
  background-color: #E8E8E8 !important;
}

.banner h1 {
  font-size: 3rem; /* povećaj po želji, npr. 24px */
  font-weight: 700; /* ako želiš malo jači tekst */
}

.banner p {
  font-size: 1.5rem; /* povećaj po želji, npr. 24px */
  font-weight: 500; /* ako želiš malo jači tekst */
}

.section p {
  font-size: 1.2rem; /* povećaj po želji, npr. 24px */
  font-weight: 500; /* ako želiš malo jači tekst */
}

img[src*="Megaphone.png"] {
  width: 300px;
  height: auto;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh; /* povećaj po potrebi */
}

.banner-home {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text {
  flex: 1 1 auto;
  font-size: 1.05rem;
  line-height: 1.2;
  width: 100%;
}

.contact-map {
  flex: 1 1 300px;
  width: 60%;
}

.contact-map iframe {
  display: block;
}

.mission-block {
  background: #E8E8E8; /* ili neka druga boja */
  padding: 25px 30px;
  border-radius: 10px;
  margin-top: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}